.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px -10px;
}

.row > .column {
  padding: 0 10px 10px;
}
@media (min-width: 640px) {
  .row-medium {
    margin: 0 -32px -15px;
  }
  .row-medium > .column {
    padding: 0 32px 15px;
  }
}
